<%- include ("partials/header") %>
<%- include ("partials/navbar") %>
<body>
<div class="container">
    <hr>
    <div class="card mb-5">
        <div class="card-header">
            <h2> Comprar produto</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/buy">
                <select class="form-control" name="name" required>
                    <% products.forEach((product)=>{ %>
                        <option value="<%= product.id %>"><%= product.name %></option>
                    <% }) %>
                </select>
                <br>
                <input  class="form-control" type="number" name="amount" placeholder="Quantidade">
                <br>
                <button class="btn btn-success">Comprar</button>
            </form>
        </div>

    </div>
</div>
</body>