<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs")%>
<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4">Olá, agricultor!</h1>
            <p class="lead">Bem-vindo à AgroFeed, a solução definitiva para a compra de alimentos para gado com praticidade, qualidade e preço justo!

                Na AgroFeed, conectamos produtores rurais aos melhores fornecedores de rações, suplementos e insumos nutricionais, tudo em um único lugar.</p>
            <hr class="my-4">
            <p>Clique abaixo para acessar aos numerosos produtos registrados em nossa plataforma!</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/newProduct" role="button">Loja</a>
            </p>
          </div>
        <br>
    </div>
</body>